.top-bar {
    height: min-content;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid black;
}

.menu-page-description {
    float: right;
    font-weight: 300;
    margin-right: 0;
    cursor: default;
}



.project-page {
    z-index: 1;
    
    position: relative;
    width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        margin-top: 120px;
        
        padding-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px;
    gap: 30px;


}

.wrapper {
    view-timeline-name: --logo-size;
}

.logotype-container {
    animation: size-change linear both 1s ;
	animation-timeline: --logo-size;
    width: 250px;
}


@keyframes size-change {
	-15%  { width: 300px; }
    15% { width: 260px; }
	25% { width: 220px; }
	50% { width: 180px;  }
	75% { width: 150px; }
    99% { width: 150px; }
}


.menu-1 {
    
    animation: menu-font-change linear both 1s ;
    animation-timeline: --logo-size;
    
}

@keyframes menu-font-change {
	-15%{ color: var(--primary-color); height: auto; margin-top: 20px; }
    15% { color: var(--primary-color); height: auto; margin-top: 20px; }
	25% { margin-top: 10px;}
	50% {  height: 10px; margin-top: 5px; pointer-events: none; color: white; }
	75% {  height: 5px; margin-top: 0px; color: white; }
    99% { height: 0px; margin-top: 0px; color: white;}
}


.menu-link a {
    
    animation: menu-link-change linear both 1s ;
    animation-timeline: --logo-size;
    
}



@keyframes menu-link-change {
	-15%{ pointer-events: all; color: var(--primary-color);}
    15% { pointer-events: all; color: var(--primary-color); }
	25% { pointer-events: all; }
	50% { pointer-events: none; color: white;}
	75% { pointer-events: none; color: white;}
    99% { pointer-events: none;color: white;}
}









.bypass-logotype path,
.bypass-logotype polygon   {
    animation: bypass-colour-change linear both 1s ;
    animation-timeline: --logo-size;
}

svg  {
    animation: bypass-colour-change linear both 1s ;
    animation-timeline: --logo-size;
}

@keyframes bypass-colour-change {
	-15%{ pointer-events: all; }
    15% { pointer-events: all;  }
	25% { pointer-events: all; }
	50% {  pointer-events: none;}
	75% { pointer-events: none; }
    99% { pointer-events: none; }
}




@media only screen and (max-width: 900px) {
   .menu-page-description {
    visibility: hidden;
   }

   .project-page {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
   }
}