
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

svg, svg * {
    pointer-events: all;
  }

html{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;

    --bg-color: white;

    --menu-font-family: "Inter", sans-serif;
    --menu-font-style: normal;
    --font-size-extra-large: 1.8em;
    --font-size-large: 1.4em;
    --font-size-medium: 1em ;
    --font-size-small: 0.8em;
    
}

.sidewalk-title {
    font-size: large;
    
}

.sidewalk-title #underscore {
  display: inline-block;
  transform: scaleX(10);
  transform-origin: 0 0;
  margin-bottom: -50%;
  width: fit-content;
   
}

.sidewalk-title #walk {
  
   
}


.sidewalk-title:hover #underscore {
    
}






.page-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border-top: 30px solid white; 
    border-left: 30px solid white; 
    border-right: 30px solid white; 
    z-index: 9999;
    pointer-events: none; 
  }

/* WRAPPER */
.wrapper {
    width:100vw;
    height:100vh;
    position:relative;
    background-color: var(--bg-color);
    padding: 30px;

    }
    /* WRAPPER end */


    .page-left {
        width: 50%;
        max-width: 100%;
        overflow-x: hidden;
        
    }

.top-bar {
    height: min-content;
    width: 50%;
    position: fixed;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid black;
}

.bypass-logotype {
    width: 40%;
}

.bypass-logotype path,
.bypass-logotype polygon {
  fill: blue; /* default */
  stroke: blue;
  transition: all 0.5s ease;
  pointer-events: all;
}

.bypass-logotype:hover path,
.bypass-logotype:hover polygon {
  fill: white; /* hover color */
  stroke: black; /* optional */
}

svg path:hover {
    fill: blue !important;
}

svg polygon:hover {
    fill: blue !important;
}




/* MENU 1 */

.menu-1 {
    
    margin-top: 20px;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-medium);
    padding-bottom: 20px;
    
}
.menu-1 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.menu-1 ul li {
    display: inline-block;
    margin-right: 1em;
}

.menu-1  a:hover {
    color: blue;
}


#bypass-b {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 70%;
    left: 70%;
    margin-top: -25px;
    margin-left: -75px;
    fill: white;
    stroke: blue;
    stroke-width: 2;
    
}







a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}




/* MEDIA QUERIES */




/* hide body on smaller screens */




@media screen and (max-width: 900px) {
    .wrapper {
      display: none;
    }

    #name-title {
        display: none;
    }

    .full-screen {
        display: none;
    }
    
    
    .about-table {
        display: none;
    }


    .small-screen {
        display: block;
        
        
    }
  }

/* filter wrap */


.filter-wrap {
    position: relative;
    overflow: hidden;
    
    font-size: 1em;
    border-bottom: #cecece solid 0.5px;
    box-sizing: border-box;
    padding-top: 125px;
    

}

/* For mobile phones: */
@media only screen and (max-width: 1000px) {
    .filter-wrap {
        width: 100%;
    }

    .filter-wrap .hover-image {
        visibility: visible;
        position: relative;
        top: 0;
        left: 0;
        transform: initial;
        margin: auto;
        height: auto;
    }

    .filter-wrap .hover-image img {
        max-height: 300px !important;
    }
}

.filter-item {
    border-top: #cecece solid 0.5px;
   
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0.3rem 0.6rem;
    width: calc(100%);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
    box-sizing: border-box;
}

.filter-item a {
    display: block;
}

.filter-item:hover {
    color: blue;
    background-color: transparent;

}

.filter-item .year {
    grid-column: 1;
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
}

.filter-item:hover .year {
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
    color: black;

}

.filter-item .info {
    display: flex;
    grid-column: 2/span 4;
  width: 100%;
}

.filter-item .category {
    
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
    color: black;
    padding: 0;
  margin: 0;
  margin-left: auto;
}

.filter-item:hover .category {
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
    color: black;

}

.filter-item .author {
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
    color: black;
    padding: 0;
  margin-right: 20px;
  
    
}

.filter-item:hover .author {
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-small);
    font-weight: 300;
    color: black;

}

.filter-item .title {
    grid-column: 2/span 4;
    text-align: left;
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-large);
    color: black;
}

.filter-item:hover .title {
    font-family: var(--menu-font-family);
    font-style: var(--menu-font-style);
    font-size: var(--font-size-extra-large);
    color: blue;
    /*filter: blur(1px);*/
}










.filtered-inclusive .filter-item,
.filtered-exclusive .filter-item,
.filter-no-item {
    display: none
}

/* filtered-inclusive/filtered-exclusive class applied via js */
.filtered-inclusive .filter-item.selected,
.filtered-exclusive .filter-item:not(.selected) {
    display: grid;
}

/* selected class applied via js */
.filter-no-item.filter-no-item-active {
    display: block;
    width: 100%;
    color: red;
    padding: 10px;
}

.filter-mask-active {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
